@using GroupStack.Data
@model IEnumerable<GroupStack.Models.Whitelist>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (ViewData["cohortName"] != null)
{
<h2>@ViewData["cohortName"]</h2>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsMentor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cohort)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsMentor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cohort.CohortName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { cohort=item.CohortId, user=item.UserId }) |
                @Html.ActionLink("Details", "Details", new { cohort=item.CohortId, user=item.UserId }) |
                @Html.ActionLink("Delete", "Delete", new { cohort=item.CohortId, user=item.UserId })
            </td>
        </tr>
}
    </tbody>
</table>
