@model IEnumerable<GroupStack.Models.GroupAssignment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { group=item.GroupId, student=item.StudentId }) |
                @Html.ActionLink("Details", "Details", new { group=item.GroupId, student=item.StudentId }) |
                @Html.ActionLink("Delete", "Delete", new { group=item.GroupId, student=item.StudentId })
            </td>
        </tr>
}
    </tbody>
</table>
