@using GroupStack.Data
@model IEnumerable<GroupStack.Models.Preferences>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cohort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectIdFirst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectIdSecond)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectIdThird)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cohort.CohortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectFirst.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectSecond.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectThird.ProjectName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentId, cohort = item.CohortId }) |
                @Html.ActionLink("Details", "Details", new { id = item.StudentId, cohort = item.CohortId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentId, cohort = item.CohortId })
            </td>
        </tr>
}
    </tbody>
</table>
