@model GroupStack.Models.Cohort

@{
    ViewData["Title"] = "Assign Groups";
}

<h1>Assign Groups</h1>

<h3>Are you ready to assign groups?</h3>
<div>
    <h4>Cohort</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CohortName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CohortName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UniName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UniName)
        </dd>
        <dt class="col-sm-2">
            Students
        </dt>
        <dd class="col-sm-10">
            @(ViewBag.preferenceCount) of @(Model.Whitelist.Where(w => w.IsMentor == false).ToList().Count) students have selected preferences.
        </dd>
        <dt class="col-sm-2">
            Group Size
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MinSize) - @Html.DisplayFor(model => model.MaxSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PreferencesDeadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PreferencesDeadline)
        </dd>
    </dl>
    
    <form asp-action="Assign">
        <input type="hidden" asp-for="CohortId" />
        <input type="submit" value="Assign" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
